<!DOCTYPE html>
<html style="overflow:hidden">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script id="markerEdit" type="template">
		<div class="editMarker">
			<ul>
				<li><input type="text" placeholder="Title" autofocus ng-model="markers['%id%'].title"></li>
				<li><input type="text" placeholder="Time" ng-model="markers['%id%'].time"></li>
				<li><textarea type="text" placeholder="Description" ng-model="markers['%id%'].description"></textarea></li>
			</ul>
			<div class="btn btn-default btn-xs" ng-click="removeEvent('%id%')">Remove Event</div>
		</div>
	</script>
	<script id="markerShow" type="template">
		<div class="showMarker">
			<h1> {{ markers['%id%'] | showTitle }} </h1>
			<h2> {{markers['%id%'].time}} </h2>
			<h3> {{markers['%id%'].description}} </h3>
			<p>
			  <h4>{{markers['%id%'].user.thirdPartyUserData.name}}'s Event</h4>
			</p>
		</div>
	</script>
  </head>
  <body ng-controller="MainController">
    <nav class="navbar navbar-default" role="navigation" style="border-radius:0;margin-bottom:0">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""><img src="img/logo.png" height="25"></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><span style="display:inline;color:gray;line-height:50px;font-weight:light">Empowering campaigns to fight homelessness in New Haven.</span></li>
          </ul>
          <form class="navbar-form navbar-right" role="search" ng-submit="searchLocation()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Where is your event?" ng-model="search">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <button class="btn btn-success" ng-click="facebookLogin()" ng-show="!user" type="button">Facebook Login</button> 
            <div ng-show="user" class="user">
              <img src="{{user.thirdPartyUserData.picture.data.url}}" ng-show="user.thirdPartyUserData.picture.data.url">
              <h4>{{user.thirdPartyUserData.name}}</h4>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="map-canvas"/>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD65I5EEVXQSoEvAWvvBlHG8rtt2nD9eD4"></script>
	<script type="text/javascript" src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
	<script src="http://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js'></script>
	<script type="text/javascript" src="/index.js"></script>
  </body>
</html>