.editMarker {
	height: 163px;	
}

/*.showMarker {
	height: 150px;
}*/

.showMarker h1, .showMarker h2, .showMarker h3 {
	margin: 0px;
	font-weight: normal;
}

.showMarker h3 {
	font-size: 14px;
	padding-top: 10px;
}

.showMarker h2 {
	font-size:20px;
	padding-top:5px;
}


.editMarker ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	
}

.editMarker ul li:first-child {
	margin-top: 5px;
}

.editMarker textarea {
	width: 218px;
	height: 42px;
	resize: none;
	
}

.editMarker .btn {
	margin-left: 5px;
}

.editMarker textarea, .editMarker input, .editMarker select {
	width: 218px;
	border-radius: 2px;
	border: 1px solid #ddd;
	margin: 5px;
	padding: 3px;
}


.user h4 {
	display: inline-block;
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.user {
	border-left: 1px solid white;
	margin-left: 50px;
	padding-left: 30px;
	
	display: inline-block;
	margin-left: 0px;
	border-left: 0px;
}

.user img {
	max-height: 34px;
	border-radius: 3px;
}